<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Surat Pengantar Perkawinan (Model N1)</title>
    <style>
        @page{ size: A4; margin: 2cm}
        body { font-family: 'Times New Roman', serif; font-size: 9pt; line-height: 1; }
        h1, h2, h3, h4, h5, h6 { font-size: 1}
        .header-info { font-size: 8pt; }
        .header-right { text-align: left; width: 40%; float: right; }
        .header-left { width: 60%; float: left; }
        .title { text-align: center; font-weight: bold; font-size: 9pt; margin-top: 10px; margin-bottom: 5px; }
        .underline { text-decoration: underline; }
        .content-table { width: 100%; border-collapse: collapse; }
        .content-table td { padding: 1px 0; vertical-align: top; }
        .label-column { width: 40%; }
        .colon-column { width: 5%; text-align: center; }
        .value-column { width: 55%; }
        .sub-label { padding-left: 20px; }
        .closing-section { margin-top: 10px; text-align: justify;}
        .signature { text-align: center; margin-top: 10px; margin-left: 50%; }
        .signature .name { margin-top: 50px; font-weight: bold; }
        .clear { clear: both; }
    </style>
</head>
<body>

<div class="header-info">
    <div class="header-left">
    </div>
    <div class="header-right">
        Lampiran V<br/>
        Keputusan Direktur Jenderal Bimbingan<br/>
        Masyarakat Islam Nomor 473 Tahun 2020<br/>
        <br/>
        Model N1
    </div>
    <div class="clear"></div>
</div>

<table class="content-table" style="margin-top: 20px;">
    <tr>
        <td class="label-column">Desa/Kelurahan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomDocumentData.subDistrictName}">-</td>
    </tr>
    <tr>
        <td class="label-column">Kecamatan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomDocumentData.districtName}"></td>
    </tr>
    <tr>
        <td class="label-column">Kabupaten/Kota</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomDocumentData.cityName}">-</td>
    </tr>
</table>

<div class="title">
    <span class="underline">SURAT PENGANTAR PERKAWINAN</span><br/>
    <span style="font-size: 9pt; font-weight: normal;" th:text="'Nomor: ' + ${ctx.groomDocumentData.documentNumber}">-</span>
</div>

<p>Yang bertanda tangan di bawah ini, menjelaskan dengan sesungguhnya bahwa:</p>

<table class="content-table">
    <tr>
        <td class="label-column">1. Nama Lengkap/Alias</td>
        <td class="colon-column">:</td>
        <td class="value-column"><strong th:text="${ctx.groom.fullName}">-</strong></td>
    </tr>
    <tr>
        <td class="label-column">2. Nomor Induk Kependudukan (NIK)</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.identityId}">-</td>
    </tr>
    <tr>
        <td class="label-column">3. Jenis Kelamin</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.gender}">-</td>
    </tr>
    <tr>
        <td class="label-column">4. Tempat dan Tanggal Lahir</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.birth}">-</td>
    </tr>
    <tr>
        <td class="label-column">5. Kewarganegaraan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.nationality}">-</td>
    </tr>
    <tr>
        <td class="label-column">6. Agama</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.religion}">-</td>
    </tr>
    <tr>
        <td class="label-column">7. Pekerjaan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.job}">-</td>
    </tr>
    <tr>
        <td class="label-column">8. Alamat</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.address}">-</td>
    </tr>
    <tr>
        <td class="label-column">9. Status Perkawinan</td>
        <td class="colon-column">:</td>
        <td class="value-column"></td>
    </tr>
    <tr th:if="${ctx.groom.gender == 'Laki-laki'}">
        <td class="label-column sub-label">&#160;&#160;&#160;&#160;a. Laki-Laki: Jejaka, Duda</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.maritalStatus}">-</td>
    </tr>
    <tr>
        <td class="label-column sub-label">&#160;&#160;&#160;&#160;&#160;&#160;&#160; atau beristri ke-</td>
        <td class="colon-column">:</td>
        <td class="value-column">-</td>
    </tr>
    <tr>
        <td class="label-column sub-label">&#160;&#160;&#160;&#160;b. Perempuan: Perawan atau Janda</td>
        <td class="colon-column">:</td>
        <td class="value-column">-</td>
    </tr>
    <tr>
        <td class="label-column">10. Nama Suami/Istri Terdahulu</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groom.previousPartnerName}">-</td>
    </tr>
</table>

<p style="margin-top: 15px;">adalah benar anak dari perkawinan seorang pria:</p>
<table class="content-table">
    <tr>
        <td class="label-column">Nama Lengkap/Alias</td>
        <td class="colon-column">:</td>
        <td class="value-column"><strong th:text="${ctx.groomFather.fullName}">-</strong></td>
    </tr>
    <tr>
        <td class="label-column">Nomor Induk Kependudukan (NIK)</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.identityId}">-</td>
    </tr>
    <tr>
        <td class="label-column">Tempat, Tanggal Lahir</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.birth}">-</td>
    </tr>
    <tr>
        <td class="label-column">Kewarganegaraan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.nationality}">-</td>
    </tr>
    <tr>
        <td class="label-column">Agama</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.religion}">-</td>
    </tr>
    <tr>
        <td class="label-column">Pekerjaan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.job}">-</td>
    </tr>
    <tr>
        <td class="label-column">Alamat</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomFather.address}">-</td>
    </tr>
</table>

<p style="margin-top: 15px;">dengan seorang wanita:</p>
<table class="content-table">
    <tr>
        <td class="label-column">Nama Lengkap/Alias</td>
        <td class="colon-column">:</td>
        <td class="value-column"><strong th:text="${ctx.groomMother.fullName}">-</strong></td>
    </tr>
    <tr>
        <td class="label-column">Nomor Induk Kependudukan (NIK)</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.identityId}">-</td>
    </tr>
    <tr>
        <td class="label-column">Tempat, Tanggal Lahir</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.birth}">-</td>
    </tr>
    <tr>
        <td class="label-column">Kewarganegaraan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.nationality}">-</td>
    </tr>
    <tr>
        <td class="label-column">Agama</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.religion}">-</td>
    </tr>
    <tr>
        <td class="label-column">Pekerjaan</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.job}">-</td>
    </tr>
    <tr>
        <td class="label-column">Alamat</td>
        <td class="colon-column">:</td>
        <td class="value-column" th:text="${ctx.groomMother.address}">-</td>
    </tr>
</table>

<div class="closing-section">
    <p>Demikian surat pengantar ini dibuat dengan mengingat sumpah jabatan dan untuk dipergunakan sebagaimana mestinya.</p>
</div>

<div class="signature">
    <p th:text="${ctx.groomDocumentData.createdDate}">Cangkir, 16 Oktober 2025</p>
    <p>Kepala Desa/Lurah</p>
    <p class="name"><span class="underline" th:text="${ctx.groomDocumentData.headVillageName}">-</span></p>
</div>

</body>
</html>